<nav class="navbar navbar-default">
  <div class="container-fluid">
  <div class="navbar-header">
    <strong class="navbar-brand">
    DescarteMap | Manager
    </strong>

  </div>

  <ul class="nav navbar-nav">
    
    {% if app.request.attributes.get('_route') == 'manager' %}
    <li class="active">
    {% else %}
    <li>
    {% endif %}
      <a href="/manager/">Locais</a>
    </li>

    {% if app.request.attributes.get('_route') == 'map' %}
    <li class="active">
    {% else %}
    <li>
    {% endif %}
      <a href="/manager/mapa">Mapa</a>
    </li>

    {% if app.request.attributes.get('_route') == 'estatisticas' %}
    <li class="active">
    {% else %}
    <li>
    {% endif %}
      <a href="/manager/estatisticas">Estatísticas</a>
    </li>

    {% if app.request.attributes.get('_route') == 'retificacoes' %}
    <li class="active">
    {% else %}
    <li>
    {% endif %}
      <a href="/manager/retificacoes">Retificações</a>
    </li>

    <li><a href="/manager/logout">Sair</a></li>
  </ul>

</div>

</nav>